<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <header>
        <h1>Le Monde</h1>
        <div class="links">
            <a class="<%= (title !== "/" ? "" : "selected") %>" href="/">Home</a>
            <a class="<%= (title !== "/about" ? "" : "selected") %>" href="/about">About</a>
            <a class="<%= (title !== "/contact" ? "" : "selected") %>" href="/contact">Contact</a>
            <a class="<%= (title !== "/articles" ? "" : "selected") %>" href="/articles">Articles</a>
        </div>
    </header>